@import '~variables.scss';

.title {
  text-align: center;
}

.navbar {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    background: $app-color-grey;
    transition: background .5s;

    &:hover {
      background: darken($color: $app-color-grey, $amount: 10);
    }
  }

  &__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $app-color-black !important;
  }
}