<h1 class="title">
  Таймлайн событий
</h1>
<nav>
  <ul class="navbar">
    <li class="navbar__item">
      <a class="navbar__link"
         routerLink="/events">Список</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link"
         routerLink="/transaction-create">Создать транзакцию</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link"
         routerLink="/news-create">Создать новость</a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>