/* You can add global styles to this file, and also import other style files */

@import 'variables.scss';

.button {
  margin: 15px;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: $app-color-grey;
  font-size: 16px;
}