@import '~variables.scss';

.events-table {
  width: 100%;

  td {
    padding: 5px 15px;
    font-size: 20px;
  }

  &__caption {
    cursor: pointer;
    user-select: none;
    font-weight: bold;

    &:first-of-type {
      cursor: inherit;
    }
  }

  &__item {
    cursor: pointer;
    background: $app-color-grey;

    &_read {
      background: $app-color-yellow;
    }

    &_in-transaction {
      background: $app-color-green;
    }

    &_out-transaction {
      background: lighten($color: $app-color-red, $amount: 25);
    }

    td {
      background: none;
    }
  }
}