@import '~variables.scss';

.events-table {
  width: 100%;

  td {
    padding: 5px 15px;
    font-size: 20px;
  }

  &__caption {
    cursor: pointer;
    user-select: none;
    font-weight: bold;

    &:first-of-type {
      cursor: inherit;
    }
  }

  &__item {
    cursor: pointer;
    background: $app-color-grey;

    &_read {
      background: rgb(196, 223, 143);
    }

    td {
      background: none;
    }
  }
}